body.bg{
	background-image: url(images/bg.jpg);
  	background-repeat: no-repeat;
 	background-attachment: fixed;
  	background-size: 100% 100%;
}

a.move{
 margin-left: 25%;
}

a.move1{
	margin-left: 25%;
}

a.move2{
	margin-left: 25%;
}

h1.headerfonts{
	font-family: 'Oswald', sans-serif;
	margin-top: 50px;
	margin-left: 40%;
	font-size: 4vw;
	height: auto;
	width: 50%;

}


img.border{
	border-color: black;
	border-width: 5px;
	border-style: solid;
	height: auto;
	width: 50%;
}

img.header1{
	margin-left: 35%;
	opacity: 0.9;
	height: auto;
	width: 30%;
}
}

div.text{
	font-family:'Oswald', sans-serif;	
	font-size: 25px;
	background-color: white;
	outline-style: groove;
	outline-color: black;
	opacity: 0.8;
	width: 25vw;
}

div.text2{
	font-family:'Oswald', sans-serif;	
	font-size: 25px;
	background-color: white;
	outline-style: groove;
	outline-color: black;
	opacity: 0.8;
	width: 40vw;
	padding:10px;
	margin-left: 30%;
	margin-top: 90px;
}

button.button{
  font-family: 'Oswald', sans-serif;
  background-color: #d14134;
  border: none;
  color: black;
  padding: 20px 40px;
  text-align: center;
  font-size: 3vw;
  margin-left: 40%;
  margin-bottom: 20px;
  margin-top: 20px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  height: auto;
  width: 20%;


}